* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myFont;
    src: url(../Fonts/FredokaOne-Regular.ttf)
}

body {
    width: 100%;
    height: 100%;
    background: url(../Images/mining-game-icons/background-image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: myFont;
    cursor: url(../Images/mining-game-icons/regular-cursor.png), auto;
}

.main-container {
    margin: 10px auto;
    position: relative;
    display: flex;
    width: 1300px;
    justify-content: space-around;
}

.game-container {
    position: absolute;
    height: 480px;
    width: 480px;
    position: relative;
    margin: auto;
    background-color: rgba(94,24,8,0.6);
}

.row-cell {
    width: 100%;
    height: 100%;
    max-height: 60px;
    max-width: 60px;
    float: left;
}
/*241, 211, 2*/
.game-cell {
    background-color: rgba(241, 211, 2,0.25);
    width: 100%;
    height: 100%;
    max-width: 60px;
    max-height: 60px;
    float: left;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.game-cell-s {
    background-color: rgba(241, 211, 2,0.35);
    width: 100%;
    height: 100%;
    max-width: 60px;
    max-height: 60px;
    float: left;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.game-cell:hover, .game-cell-s:hover {
    animation: shake 1s infinite;
}

@keyframes shake {
  0% {transform: translate(0.5px, 0.5px) rotate(0deg); }
  10% {transform: translate(-0.5px, -1.5px) rotate(-1deg); }
  20% {transform: translate(-2px, 0.5px) rotate(1deg); }
  30% {transform: translate(2.5px, 1.5px) rotate(0deg); }
  40% {transform: translate(0.5px, -0.5px) rotate(1deg); }
  50% {transform: translate(-0.5px, 1.5px) rotate(-1deg); }
  60% {transform: translate(-2px, 0.5px) rotate(0deg); }
  70% {transform: translate(2px, 0.5px) rotate(-1deg); }
  80% {transform: translate(-0.5px, -0.5px) rotate(1deg); }
  90% {transform: translate(0.5px, 1px) rotate(0deg); }
  100% {transform: translate(0.5px, -1px) rotate(-1deg); }
}

.image {
    width: 100%;
    position: absolute;
}

.bombs-count-down {
    position: absolute;
    color: #FAF3DD;
    left: 3px;
    top: 1px;
    background-color: #FF4E00;
    width: 20px;
    height: 20px;
    border-radius: 20%;
    text-align: center;
}

.bombs-background {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 20%;
    background-image: radial-gradient(rgb(250, 243, 221, 0.05) 50%, rgba(255, 22, 84, 0.05) 70%);
    animation: hintsFading 2s ease-in-out infinite;
}

.item-container {
    position: absolute;
    float: left;
    left: 20px;
    top: 20px;
}

.item-cell {
    border: 2px solid #F1D302;
    border-radius: 15%;
    width: 60px;
    height: 60px;
    margin: 0px 4px;
    float: left;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.item-cell:hover {
    transform: scale(1.1)
}

.count-item {
    position: absolute;
    background-color: aqua;
}

.unavailable-item {
    background-color: #F5D3C8;
    opacity: 50%;
    filter: brightness(50%)
}

.score-moves-section {
    display: flex;
    justify-content: space-between;
    margin: 20px auto 10px auto;
    width: 480px;
    color: white;
    font-size: 20px
}

.score-section {
    padding: 5px 0px 5px 15px;
    width: 100px;
    background-color: #f47b30;
    border-radius: 10px;
}

@keyframes scoreScaling {
    0% {transform: scale(1)}
    80% {transform: scale(1.2)}
    100% {transform: scale(1)}
}

.moves-section {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    background-color: #f47b30;
    border-radius: 10px;
}

#player-score {
    font-size: 25px;
}

#count-moves {
    font-size: 25px;
    float: right;
    margin-right: 14px;
}

.moves-text {
    margin-left: 22px;
}

@keyframes hintsFading {
  0%   {opacity: 0}
  50%  {opacity: 1}
  70%  {opacity: 1}
  100% {opacity: 0}
}

.hints {
    animation: hintsFading 1.5s ease-in-out infinite;
}

@keyframes falling {
    0% {transform: translateY(-60px); opacity: 70%}
    100% {transform: translateY(0px); opacity: 100%}
    
}

.falling-down {
    animation: falling 0.2s ease-in-out;
}

@keyframes cellFading {
    0% {transform: scale(1)}
    100% {transform: scale(0)}
}

.removed-cell-fading {
    animation: cellFading 0.2s ease-out;
}

#time-container {
    margin: auto;
    background-color: white;
    border-radius: 6px;
    width: 480px;
    height: 12px;
}

.time-countdown {
    margin: auto;
    float: left;
    background-color: rgb(30, 252, 30);
    border-radius: 6px;
    width: 0px;
    height: 12px;
    animation: timer 150s linear;
}

.alert-won-item {
    color: #fb9c1d;
    position: absolute;
    top: 125px;
    left: 530px;
    font-size: 25px;
    text-shadow: -2px -2px #fff,  
    2px -2px #fff,
    -2px 2px #fff,
    2px 2px #fff;
    z-index: 3;
    animation: fadingIn 0.5s ease-in-out;
    display: none;
}

@keyframes fadingIn {
    0% {opacity: 0; transform: translateY(-20px); transform: scale(1)}
    60% {opacity: 50; transform: translateY(-10px); transform: scale(1.1)}
    100% {opacity: 100%; transform: translateY(0px); transform: scale(1)}
}

.left-container {
    background-image: url(../Images/mining-game-icons/new-game.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    text-align: center;
}

.right-container {
    background-image: url(../Images/mining-game-icons/high-score.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    text-align: center;
}

.home-btn, .new-game-btn, .give-hints-btn, .pause-btn, .pause-home-btn, .pause-new-game-btn, .resume-btn {
    width: 35%;
    margin-top: 20px;
    transition: all 0.3s;
}

.resume-btn {
    margin-left: auto;
    margin-right: auto;
}

.home-btn {
    margin-top: 30px;
}

.pause-home-btn {
    margin-top: 80px;
}

.music-btn, .sound-btn {
    width: 70%;
    transition: all 0.3s;
}

.music-sound-btn {
    display: flex;
    justify-content: space-around;
    width: 170px;
    margin: 20px auto;
}

.home-btn:hover, .new-game-btn:hover, .give-hints-btn:hover, .pause-btn:hover, .music-btn:hover, .sound-btn:hover, .pause-home-btn:hover, .pause-new-game-btn:hover, .resume-btn:hover {
    transform: scale(1.1);
}

@keyframes timer {
    0% {width: 480px}
    100% {width: 0px}
}

.bombs-cooler-item, .shuffle-item, .treasure-item, .free-swap-item, .dynamite-bombs-item {
    max-height: 100%;
    max-width: 100%;
    border-radius: 15%;
    background-color: #faf6ae;
}

.pause-board {
    background-image: url(../Images/mining-game-icons/pause-board.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 520px;
    height: 520px;
    margin-top: 20px;
    margin-left: -17px;
    text-align: center;
    z-index: 4;
    position: absolute;
    display: none;
}

.high-score-table {
    margin: 130px auto;
    width: 200px;
    font-size: 25px;
    color: white;
}

.uscore-section {
    height: 100px;
    margin-top: 20px;
    font-size: 30px;
    color: aliceblue;
    display: none;
}
.u-score {
    font-size: 50px;
    color: aqua;
}

